

.landingPageTitle {
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color:A095BF;
    font-size: 75px;
    
}

.buttonTitle1 {
    
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-113%, -50%);
    font-size: 75px;
    
}
.buttonTitle2 {
    margin: 0;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(0%, -50%);
    font-size: 75px;
}